<div class="container">
  <div>
    <h1>{{'login.login' | translate}}</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      {{'login.email' | translate}}
      <input type="email" name="email" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" >
      <div>
        <mat-error *ngIf="(loginForm.touched || loginForm.dirty) && f.email.errors && f.email.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(loginForm.touched || loginForm.dirty) && f.email.errors && f.email.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
      </div>
    </label>

    <label>
      {{'login.password' | translate}}
      <input type="password" name="password" formControlName="password">
      <div>
        <mat-error *ngIf="(loginForm.touched || loginForm.dirty) && f.password.errors && f.password.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(loginForm.touched || loginForm.dirty) && f.password.errors && f.password.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
        <mat-error *ngIf="(loginForm.touched || loginForm.dirty) && f.password.errors && f.password.errors.maxlength">{{'errors.fieldMaxlength' | translate}}</mat-error>
      </div>
    </label>
    <div>
       <mat-error *ngIf="feedbackLogin">{{'login.invalid' | translate}}</mat-error>
    </div>

    <div>
      <h3>{{'login.label' | translate}}</h3>
      <a routerLink="/register">{{'login.link' | translate}}</a>
    </div>
    <button type="submit">{{'login.submit' | translate}}</button>
  </form>
</div>

