<div class="container">
  <div>
    <h1>{{'user.title' | translate}}</h1>
  </div>
  <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label>
      {{'user.firstName' | translate}}
      <input type="text" name="firstName" formControlName="firstName" >
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.firstName.errors && f.firstName.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.firstName.errors && f.firstName.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.firstName.errors && f.firstName.errors.maxlength">{{'errors.fieldMaxlength' | translate}}</mat-error>
      </div>
    </label>

    <label>
      {{'user.lastName' | translate}}
      <input type="text" formControlName="lastName">
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.maxlength">{{'errors.fieldMaxlength' | translate}}</mat-error>
      </div>
    </label>
    <label>
      {{'user.email' | translate}}
      <input type="text" formControlName="email" (keyup)="verifyEmail(f.email.value)">
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.required">{{'errors.requiredField' | translate}}</mat-error><br>
        <mat-error *ngIf="feedbackEmail">{{'errors.feedbackEmail' | translate}}</mat-error>
      </div>
    </label>
    <label>
      {{'user.password' | translate}}
      <input type="text" formControlName="password">
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.lastName.errors && f.lastName.errors.maxlength">{{'errors.fieldMaxlength' | translate}}</mat-error>
      </div>
    </label>
    <label>
      {{'user.phoneNumber' | translate}}
      <input type="text"  formControlName="phone">
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.phone.errors && f.phone.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.phone.errors && f.phone.errors.minlength">{{'errors.fieldMinlengthPhone' | translate }}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.phone.errors && f.phone.errors.maxlength">{{'errors.fieldMaxlengthPhone' | translate}}</mat-error>
      </div>
    </label>
    <label>
      {{'user.zipCode' | translate}}
      <input type="text" formControlName="zipcode" >
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.zipcode.errors && f.zipcode.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.zipcode.errors && f.zipcode.errors.minlength">{{'errors.fieldMinlengthZipCode' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.zipcode.errors && f.zipcode.errors.maxlength">{{'errors.fieldMaxlengthZipCode' | translate}}</mat-error>
      </div>
    </label>
    <label>
      {{'user.street' | translate}}
      <input type="text" formControlName="street">
      <div>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.street.errors && f.street.errors.required">{{'errors.requiredField' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.street.errors && f.street.errors.minlength">{{'errors.fieldMinlength' | translate}}</mat-error>
        <mat-error *ngIf="(profileForm.touched || profileForm.dirty) && f.street.errors && f.street.errors.maxlength">{{'errors.fieldMaxlength' | translate}}</mat-error>
      </div>
    </label>
    <button type="submit">{{'user.submit' | translate}}</button>
  </form>
</div>
