<div class="container row">
  <fieldset>
    <legend>{{'internacionalization' | translate}}</legend>
    <a (click)="setLanguage('en')">
      <img src="../assets/img/bandeira_americana_bb.jpg" alt="United Stated Flag">
    </a>
    <a (click)="setLanguage('es')">
      <img src="../assets/img/bandeira-da-espanha.jpg" alt="Spanish Flag">
    </a>
    <a (click)="setLanguage('pt')">
      <img src="../assets/img/bandeira-do-brasil.gif" alt="Brazil Flag">
    </a>
  </fieldset>
</div>
 <router-outlet></router-outlet>

